body {
	font family:verdana,arial,sans-serif;
	color:#F4A52E;
}
h2 {
	margin-top:20px;
	font-family: 'Khula', sans-serif;
	font-size:1.8em;
	font-weight:300;
	text-transform:uppercase;
	justify-content:center;
}
form {
	padding:20px;
	width:550px;
	margin:auto;
	background:#000000;
	border-radius:5px;
}
label {
	display:block;
	margin-bottom:5px;
	margin-top:20px;
}
input,textarea,select,button {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#000000;
	border-radius:5px;
	color:#ffffff;
}
textarea {
	width:80%;
	padding:10px;
	height:200px;
}
select {
	font-size:0.8em;
}
button[type="submit"] {
	display:block;
		margin-top:20px;
		background:#F4A52E;
		font-weight:300;
		text-transform:uppercase;
		color:#000000;
		padding:0.35em 0.75em;
		font-size:1.1em;
		border:none;
}
button[type="submit"]:hover {
	background:#FDDC3A;
}
	
	